* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif; /* Basic font */
    background-color: #f4f4f4; /* Background color */
    color: #333; /* Default text color */
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #333; /* Dark background */
    color: #dcc6c6; /* White text */
    padding: 20px;
    text-align: center;
}
.header-container {
    display: flex;
    justify-content: space-between; /* Distribute elements evenly */
    align-items: center; /* Vertically center items */
}

/* Navigation Styles */
nav ul {
    padding: 0;
    display: flex;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f4f4f4; /* Light hover effect */
}

/* Main Content Styles */
main {
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.upload-container {
    display: flex; /* This creates a flex container */
    justify-content: center; /* Centers the buttons horizontally */
    gap: 20px; /* Space between the two buttons */
    height: 100vh; /* Full viewport height to center vertically */
}

.container {
    padding: 40px
}
.centerr {
    text-align: center
}
/* Button Styles */
button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}