{% extends "fileloaderapp/base.html" %}

{% block title %}Upload a File!{% endblock %}

{% block content %}

<body>
  <div class="centerr"><p>load a file to start!</p></div>
  
  <div class="upload-container">
  <div class="container">
  <h3>Upload a New File</h3>
  <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ upload_form.as_p }}
      <button type="submit" name="upload_file">Upload</button>
  </form>
  </div>
  <div class="container">
  <h3>OR</h3>
  </div>
  <div class = "container">
  <!-- Form to Select an Existing File -->
  <h3>Select an Existing File</h3>
  <form method="POST">
      {% csrf_token %}
      {{ select_form.as_p }}
      <button type="submit" name="select_file">Select</button>
  </form>
</div>
</div>

</body>
{% endblock %}