{% extends "fileloaderapp/base.html" %}

{% block title %}Results are Uploaded!{% endblock %}

{% block content %}

<body>
  <h3>Upload a New File</h3>
  <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ upload_form.as_p }}
      <button type="submit" name="upload_file">Upload</button>
  </form>
  
  <!-- Form to Select an Existing File -->
  <h3>Select an Existing File</h3>
  <form method="POST">
      {% csrf_token %}
      {{ select_form.as_p }}
      <button type="submit" name="select_file">Select</button>
  </form>


</body>
{% endblock %}